<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
                <img src="~/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a href="/Admin/AdminProduct/Index">
                        <i class="fas fa-layer-group"></i>
                        <p>Ürün Yönetimi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/AdminAbout/Index">
                        <i class="fas fa-pen-square"></i>
                        <p>Hakkımda Yönetimi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/AdminContact/Index">
                        <i class="fa fa-envelope"></i>
                        <p>Mesaj Yönetimi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/AdminStaff/Index">
                        <i class="fa fa-users"></i>
                        <p>Ekip Yönetimi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/AdminSubscribe/Index">
                        <i class="far fa-chart-bar"></i>
                        <p>Bülten Yönetimi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/AdminTestimonial/Index">
                        <i class="fa fa-comments"></i>
                        <p>Referans Yönetimi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Default" target="_blank">
                        <i class="fa fa-link"></i>
                        <p>Siteye Git</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>