<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <nav class="pull-left">
            <ul class="nav">
            </ul>
        </nav>
        <div class="copyright">
            @DateTime.Now.Year <i class="fa fa-heart heart text-danger"></i>
            <a href="#">Furni Admin</a>
        </div>
        <div>
            Geliştirici
            <a href="#">Muzaffer Karakuş</a>.
        </div>
    </div>
</footer>