<div class="page-header">
    <span>Furni Yönetim Paneli</span>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="/Admin/AdminProduct">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a href="@ViewBag.v">@ViewBag.v1</a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a>@ViewBag.v2</a>
        </li>
    </ul>
</div>