<footer class="footer-section">
    <div class="container relative">

        <div class="sofa-img">
            <img src="~/untree.co-furni/images/sofa.png" alt="Image" class="img-fluid">
        </div>

        @await Html.PartialAsync("/Views/Default/_LayoutFooterSubscribePartial.cshtml")

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
                <p class="mb-4">Yüksek malzeme kalitesi ile uzun ömürlü ve çevreye duyarlı üretim standartları ile doğayı koruyan ürünler üreterek kaliteyi ön planda tutan şirket politikamızla 40 yılı aşkın süredir evlerinizdeyiz.</p>

                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="/Abouts">Hakkımızda</a></li>
                            <li><a href="/Product">Katalog</a></li>
                            <li><a href="/Blog">Blog</a></li>
                            <li><a href="/Contact">İletişim</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="/Contact">Destek</a></li>
                            <li><a href="#">S.S.S.</a></li>
                            <li><a href="#">Canlı Destek</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Ekibimiz</a></li>
                            <li><a href="#">Yönetim Kurulumuz</a></li>
                            <li><a href="#">Aydınlatma Metni</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">İskandinav Sandalye</a></li>
                            <li><a href="#">Kruzo Aero Sandalye</a></li>
                            <li><a href="#">Ergonomik Sandalye</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>. Tüm Hakları Saklıdır. &mdash; Geliştirici <a href="https://untree.co">Muzaffer Karakuş</a>
                    </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        @* <li class="me-4"><a href="#">Terms &amp; Conditions</a></li> *@
                        <li><a href="#">Aydınlatma Metni</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>